@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
}

html, body {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  overflow: hidden;
  background-color: #000;
  font-family: "PT Sans", Roboto, Arial, Helvetica, sans-serif;
}

main {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  padding-top: 60px;
  background-color: #202020;
}

section {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width:600px) {
  section {
    width: 504px;
  }
}

@media (min-width:800px) {
  section {
    width: 672px;
  }
}

@media (min-width:1000px) {
  section {
    width: 840px;
  }
}

@media (min-width:1200px) {
  section {
    width: 1000px;
  }
}

/************ Navbar *************/

nav {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 10;
  position: fixed;
  background-color: #202020;
  border-bottom: 1px solid #333;
}

nav, nav section, 
nav ul, nav li, nav a {
  height: 60px;
}

nav section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  color: #FFF;
  line-height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: color 500ms ease;
}

nav a:hover {
  color: #96F;
}

nav section:first-child {
  padding-left: 5px;
}

nav section:last-child {
  padding-right: 5px;
}

nav #brand {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

/************ Burger *************/

#burger-wrapper {
  height: 40px;
  width: 40px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  margin-right: 5px;
}

#burger {
  width: 25px;
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 10px;
}

#burger span::before,
#burger span,
#burger span::after {
  content: "";
  right: 0;
  height: 3px;
  position: absolute;
  border-radius: 1px;
  background-color: #FFF;
  transition: 
  transform 250ms ease, 
  width 250ms ease, 
  top 250ms ease, 
  left 250ms ease;
}

#burger span::before { 
  top: -8px;
  width: 80%;
}

#burger span {
  width: 100%;
}

#burger span::after { 
  top: 8px;
  width: 60%;
}

#burger.hovered span::before,
#burger.hovered span::after { 
  width: 100%;
}

#burger.active span {
  height: 0px;
  transform-origin: 50%;
  transform: rotateX(180deg);
}

#burger.active span::before {
  left: -1px;
  top: -2px;
  width: 100%;
  transform: rotate(45deg);
}

#burger.active span::after {
  left: -1px;
  top: -2px;
  width: 100%;
  transform: rotate(-45deg);
}

/************ Drawer *************/

#drawer {
  top: -100vh;
  left: 0;
  right: 0;
  height: 100%
}

#drawer .canvas {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  position: fixed;
}

#drawer .menu {
  top: -100vh;
  left: 0;
  right: 0;
  height: 100%;
  position: relative;
  z-index: 3;
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: center;
}

#drawer .footer {
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  border-top: 1px solid #333;
  background-color: #202020;
  display: flex;
  justify-content: center;
}

#drawer .footer ul {
  margin: 0;
  display: inline-flex;
}

#drawer .footer ul {
  padding: 15px;
}

#drawer .footer svg {
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

#drawer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#drawer a {
  color: #FFF;
  text-decoration: none;
  transition: color 250ms ease;
}

#drawer a:hover {
  color: #96F;
}